.projects {
    width: calc(100% - 400px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

[class^="level"] {
    position: absolute;
    border-radius: 100%;
    border: 2px solid var(--m42-color-300);
}

.project {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--m42-color-300);
    z-index: 9999;
    transition: all 0.5s;
    color: var(--m42-color-200);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.project:hover {
    color: var(--m42-color-000);
    transform: scale(1.1);
    
}

.project.active {
    animation: iluminar linear 0.5s forwards;
}

@keyframes iluminar {
    0% {
        border: 0px;
        color: var(--m42-color-200);
    }

    100% {
        border: 2px solid var(--m42-color-100);
        color: var(--m42-color-000);
    }
}

.titleProject {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    background-color: var(--m42-color-300);
    color: var(--m42-color-000);
    position: absolute;
    z-index: 9999999999999999999;
    width: 200px;
    left: 52px;
}

.project.completed {
    background-color: var(--m42-color-100);
    color: var(--m42-color-000);
}

.level_completed {
    border-color: var(--m42-color-100);
}