.projects {
    width: calc(100% - 400px);
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

[class^="level"]  {
    position: absolute;
    border-radius: 100%;
    border: 2px solid var(--m42-color-100);
    box-shadow: 0 0 1px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00;
}

.project {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 1px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00, 0 0 5px #00ff00;
    cursor: pointer;
    z-index: 9999;
}

.titleProject {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--m42-color-000);
    color: var(--m42-color-200);
    position: absolute;
    z-index: 99999;
}

