.asideNav {
    width: 340px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    color: var(--m42-color-200);
    border-radius: 10px;
    height: 90svh;
    color: var(--m42-color-000);
}

.asideNav > h3 {
    font-size: 40px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

.asideNav > h4 {
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 300;
    font-family: "IBM Plex Mono", monospace;
}

.asideNav > h4:hover {
    font-weight: 500;
}

.asideNav > h4.active {
    color: var(--m42-color-100);
}

.asideNav > h4.active > span {
    color: var(--m42-color-000);
}