.asideNav {
    width: 340px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--m42-color-000);
    color: var(--m42-color-200);
    border-radius: 10px;
    height: 90svh;
}

.asideNav > h3 {
    font-size: 27px;
    border-bottom: 2px solid var(--m42-color-200);
    padding: 20px;
}

.asideNav > h4 {
    font-size: 25px;
    padding: 20px;
    border-bottom: 2px solid var(--m42-color-200);
    cursor: pointer;
    transition: all 0.5s;
}

.asideNav > h4:hover {
    color: var(--m42-color-100);
    border-color: var(--m42-color-100);
    background-color: var(--m42-color-200);
}