.app {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
  gap: 50px;
}

.logo {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 20px;
}

.titleProject {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 40px;
  background-color: var(--m42-color-300);
  color: var(--m42-color-000);
  position: absolute;
  z-index: 9999999999999999999;
  width: 200px;
  left: 52px;
  text-align: center;
}